<div class='container-fluid'>
  <div class='titlehead' style='text-align:center'>
  <br><br><br><br>
    <h1 style="font-size:6em; padding:10px; width:600px; margin: 0 auto; border:5px solid black; text-align:center;">SAVE ####</h1><br>
    <p style="font-size:1.4em">An Interactive Web Puzzle to Save Life</p>
  </div>
</div>

<div class='container-fluid' style='background-color:black'>
  <div class='col-md-6'>
    <p style='color:ghostwhite; text-align:center; margin-top:20px'>Emma's in the hands of a notorious serial killer.<br></p>
    <p style='color:ghostwhite; text-align:center; margin-top:20px'>Getting her back requires solving clues placed by the kidnapper.<br></p>
    <p style='padding-top:20px; color:ghostwhite; text-align:center; font-size: 3em; color:white'>#### ###########</p><br>
    <p style='color:ghostwhite; text-align:center; margin-top:10px'>into bed.<br>
    The next morning she was gone.<br>
    There were no signs of breaking and entering, nor any visible evidence.
    </p>
  </div>
  <div class='col-md-6'>
  <%= image_tag("bedroom.jpeg", alt: 'Emmas Bedroom', class: "emmabedroom") %>
  </div>
</div>

<div class='container-fluid' style='background-color:black'>
  <div class='col-md-6'>
    <p style='color:ghostwhite; text-align:center; margin-top:20px'>On November 3rd, 2015, my wife and I tucked our four year-old daughter,<br>
    <p style='padding-top:20px; color:ghostwhite; text-align:center; font-size: 3em; color:white'>#### ###########</p><br>
    <p style='color:ghostwhite; text-align:center; margin-top:10px'>into bed.<br>
    The next morning she was gone.<br>
    There were no signs of breaking and entering, nor any visible evidence.
    </p>
  </div>
  <div class='col-md-6'>
  <%= image_tag("bedroom.jpeg", alt: 'Emmas Bedroom', class: "emmabedroom") %>
  </div>
</div>

<div class='container-fluid'>
  <div class='col-md-12'>
    <p>
    Hi<br>
    </p>
  </div>
</div>